<!DOCTYPE html>
<html>
    <head>
        <h1>Login Now</h1>
    </head>
    <body>
        {% for message in message %}
            <h3 style="color: red;">{{message}}</h3>
        {% endfor %}
        <form method="POST" action="login">
            {% csrf_token %}
            <p>Username:</p>
            <input type="text" name="username">
            <p>Password:</p>
            <input type="password" name="password">
            <br><br>
            <input type="submit">
        </form>
    </body>
</html>